@import "tailwindcss";

/* body {
  background-color: #000000;
  color: #f0f0f0;
  cursor: default;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #00c6ff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00a3d7;
} */